<html>

<head>
    <!-- Bootstrap: Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Font Awesome CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <!-- Bootstrap Javascript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>   
    <!-- jQuery: from Google -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

    <link rel="stylesheet" href="main.css">
</head>

<body>
<div class="container-fluid">

  <!-- Navigation Bar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li id="page-title"><p id="title-text"><strong>Elliot Fox</strong></p></li>
          <li><a href="#about"><b>About</b></a></li>
          <li><a href="#portfolio"><b>Portfolio</b></a></li>
            <li><a href="#contact"><b>Contact</b></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>



  <!-- About section -->
  <div id="about"></div>
  <h2 class="text-center section" >About Me</h2>
  <hr class="style17"></hr>

  <div class="row" id="mini-bio">
      <div class="col-sm-offset-2 col-sm-2 col-xs-offset-2 col-xs-2 col-md-offset-2 col-md-2">
        <img class="img-responsive img-rounded" alt="picture of me" src="./res/resumepic2.jpg"></img>
      </div>

      <div class="col-sm-6 col-xs-6 col-md-6">
        <p class=" text-center well " id="bio-text">Hello! I am a career scientist and hobbyist programmer. I have a bachelor's degree in Biochemistry from Florida State University. I just moved to Indianapolis after I finished teaching English in Bangkok for one year. Before that I worked at a Tier 1 Helpdesk and tutored college students in Chemistry and Calculus. I have had experience working in working at a Biosecurity Level 2 lab at NIH and in preparing teaching labs for college students. I am interested in applications of Machine Learning and in brain to computer interfaces and the impact that could have on virtual reality. Don't hesitate to contact me if you have any feedback on my portfolio page or if you are a prospective employer</p>
      </div>
    </div>

  <div id="portfolio"></div>
  <h2 class="text-center section">Portfolio </h2>
  <hr class="style17"></hr>

  <!-- showcase section -->
  <div class="row section">
    <h3 class="col-sm-offset-2 col-sm-2 col-xs-offset-2 col-xs-2 col-md-offset-2 col-md-2">Completed Works</h3>
  </div>
  <div class="row">
    <div class="col-sm-offset-2 col-sm-2 col-xs-offset-2 col-xs-2 col-md-offset-2 col-md-2">
      <p class="text-center">Initium+ game Extension</p>
      <div id="pic-frame">
        <a href="#">
          <img class="img-responsive img-thumbnail" alt="initium game extension" src="./res/initiumApp.png"></img>
        </a>
      </div>
    </div>
    <div class="col-sm-offset-1 col-sm-2 col-xs-offset-1 col-xs-2 col-md-offset-1 col-md-2">
      <p class="text-center">Weather Web App</p>
      <a href="http://codepen.io/EFox2413/full/LZNRaN/">
      <img class="img-responsive img-thumbnail" alt="initium game extension" src="./res/weatherAppCrop.png"></img>
      </a>
    </div>
  </div>

  <!-- showcase section -->
  <div class="row section">
    <h3 class="col-sm-offset-2 col-sm-2 col-xs-offset-2 col-xs-2 col-md-offset-2 col-md-2">Work In-Progress</h3>
</div>
    <div class="row">
        <div class="col-sm-offset-2 col-sm-2 col-xs-offset-2 col-xs-2 col-md-offset-2 col-md-2">
          <p class="text-center">Thai Voice Practice App</p>
          <a href="#">
            <img class="img-responsive img-thumbnail center-block" alt="initium game extension" src="./res/thaiLinPan.png"></img>
          </a>
        </div>
        <div class="col-sm-offset-1 col-sm-2 col-xs-offset-1 col-xs-2 col-md-offset-1 col-md-2">
          <p class="text-center">Volunteer Dev Research</p>
          <a href="#">
            <img class="img-responsive img-thumbnail center-block" alt="volunDev preview Image" src="./res/volunDev.png"></img>
          </a>
        </div>
        <div class="col-sm-offset-1 col-sm-2 col-xs-offset-1 col-xs-2 col-md-offset-1 col-md-2">
          <p class="text-center">Factorio AI Helper</p>
          <a href="#">
            <img class="img-responsive img-thumbnail center-block" alt="Factorio App preview image" src="./res/factorioApp.png"></img>
          </a>
        </div>
    </div>

  <!-- Contact section -->
  <div id="contact"></div>
  <h2 class="text-center section" >Contact Me</h2>
  <hr class="style17"></hr>

  <div class="row">
      <div class="col-md-offset-5 col-md-2 text-center">
          <a href="http://www.github.com/EFox2413"><i class="fa fa-github fa-3x"></i></a>
          <a href="http://facebook.com/elliot.fox.71"><i class="fa fa-facebook-official fa-3x"></i></a>
          <a href="http://twitter.com/fox2413"><i class="fa fa-twitter fa-3x"></i></a>
          <a href="https://www.linkedin.com/in/elliot-fox-70246b53?trk=nav_responsive_tab_profile"><i class="fa fa-linkedin fa-3x"></i></a>
      </div>
  </div>

  <!-- email form -->
    <div id="form-main">
      <div class="center-block well" id="form-div">
        <form class="form" id="form1">
          <p class="name name-icon">
            <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />
          </p>
          
          <p class="email email-icon">
            <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
          </p>
          
          <p class="text comment-icon">
            <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Comment"></textarea>
          </p>
          
          <div class="submit">
            <input type="submit" value="SEND" id="button-blue"/>
            <div class="ease"></div>
          </div>
        </form>
      </div>
  </div>

  <!-- container-fluid -->
  </div>
</body>
<div id="bg"></div>
</html>
