html, body {
  height:100%;
  font-family:helvetica;
  background: none;
}

body {
    padding-top:50px;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a i:hover {
    color: #ff7047;
}

a img:hover {
    border: 1px solid #ff7047
    border-radius: 4px;
    background-color: #ff7047;
}

span.glyphicon-fire {
    font-size: 40px;
}

hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
} 
hr.style17:after {
	content: '&';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #fafff1;
	color: #8c8b8b;
	font-size: 18px;
}

::selection {
  background: #ff7047; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff7047; /* Gecko Browsers */
}

.navbar-brand {
    padding-top:5px;
}


.section {
    margin-top:70px;
} 

.col-centered{
    float: none;
    margin: 0 auto;
}

.well {
    opacity: 0.9; /* opacity [0-1] */
    -moz-opacity: 0.9; /* opacity [0-1] */
    -webkit-opacity: 0.9; /* opacity [0-1] */
    background: #F6FAED;
}

.img-thumbnail {
    opacity: 0.9; /* opacity [0-1] */
    -moz-opacity: 0.9; /* opacity [0-1] */
    -webkit-opacity: 0.9; /* opacity [0-1] */
    background: #F6FAED;
}

#page-title {
    padding-top:5px;
    padding-bottom:5px;
    padding-right:10px;
    font-size:28px;
}

#title-text {
    color:fafff1;
    margin-bottom:0px;
}

#mini-bio {
    margin-top:50px;
}

#bio-text {
    margin-top:20px;
}

#bg {
    background-color:#fafff1;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

.navbar-default {
  background-color: #ff7047;
  border-color: #fafff1;
}
.navbar-default .navbar-brand {
  color: #fafff1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #200902;
}
.navbar-default .navbar-text {
  color: #fafff1;
}
.navbar-default .navbar-nav > li > a {
  color: #fafff1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #200902;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #200902;
  background-color: #F54614;
  border: 1px solid #DE4013;
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,.25);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #200902;
  background-color: #fafff1;
}
.navbar-default .navbar-toggle {
  border-color: #fafff1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fafff1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fafff1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fafff1;
}
.navbar-default .navbar-link {
  color: #fafff1;
}
.navbar-default .navbar-link:hover {
  color: #200902;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fafff1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #200902;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #200902;
    background-color: #fafff1;
  }
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	padding-top:0px;
}

#form-div {
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
  margin-top:30px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

}

.name-icon{
    position:relative;
}    

.name-icon:before {
    content: "\f040";
    font-family: FontAwesome;
    left:15px;
    top:6px;
    font-size:25px;
    position:absolute;
 }

.email-icon{
    position:relative;
}    

.email-icon:before {
    content: "\f0e0";
    font-family: FontAwesome;
    left:15px;
    top:6px;
    font-size:25px;
    position:absolute;
 }

.comment-icon{
    position:relative;
}    

.comment-icon:before {
    content: "\f075";
    font-family: FontAwesome;
    left:15px;
    top:6px;
    font-size:25px;
    position:absolute;
 }


.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 2px solid #ff7047;
	color: #ff7047;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #ff7047;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	border: #ff7047 solid 4px;
	color: #ff7047;
}
	
.submit:hover {
	color: #ff7047;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
